{{ if ne .chezmoi.os "windows" -}}
#!/bin/bash

# VS Code가 설치되어 있을 때만 실행
if command -v code >/dev/null 2>&1; then
    echo "==> Installing VS Code Extensions..."
    EXTENSIONS=(
        vscodevim.vim
        ms-python.python
        ms-toolsai.jupyter
        ms-vscode.cpptools
        catppuccin.catppuccin-vsc
        PKief.material-icon-theme
        usernamehw.errorlens
    )
    for ext in "${EXTENSIONS[@]}"; do
        code --install-extension "$ext" --force
    done
fi
{{ end -}}
